{% extends "auctions/layout.html" %}

{% block head %}
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url(static/auctions/login.jpg);
        height: 100vh;
        width: auto;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        padding-top: 80px;
    }

    .form {
        width: 25%;
        margin: 0 auto;
        padding: 20px;
        background-color:white;
        border-radius: 20px;
        text-align: center;
    }

    .trans {
        background-color: transparent;
        border:none;
        
    }

    .scuff {
        border-bottom: solid 1px black;
    }

    .form p{
        padding-top:20px;
    }

    .form h1 {
        padding-bottom: 10px;
    }
</style>
{% endblock %}


{% block body %}

    
    
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="form">
        <h1>Welcome back!</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group scuff">
            <input  class="trans form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group scuff">
            <input class="trans form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </div>
    

{% endblock %}